#GOOGLE_API_KEY=
#GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
#GOOGLE_CHATBOT_MODEL='gemini-2.5-flash-lite'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_CHATBOT_MODEL='gpt-5-nano'
DATABASE_URL='localhost'
PG_VECTOR_COLLECTION_NAME='documents'
PDF_PATH='./document.pdf'